* {
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
h2 {
  font-weight: 700;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main > .rules-wrapper {
  width: 38%;
}

.main > .game-wrapper,
.rules-wrapper {
  width: 60%;
}
